@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Cesium .net Demos</h1>
    <p class="lead">Cesium is a JavaScript library for creating 3D globes and 2D maps in a web browser without a plugin</p>
    <p>This site demonstrates various ways to use Cesium with ASP.net</p>
    <p><a href="https://cesiumjs.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hello 3D World</h2>
        <p>This demo demonstrates a minimal Cesium viewer</p>
        <p><a class="btn btn-default" href="@Url.Action("Hello3DWorld", "Demo")">Run demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>GeoJSON</h2>
        <p>This demo demonstrates Cesium with some GeoJSON data sources</p>
        <p><a class="btn btn-default" href="@Url.Action("GeoJSON", "Demo")">Run demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>KML</h2>
        <p>This demo demonstrates Cesium with some KML data sources</p>
        <p><a class="btn btn-default" href="@Url.Action("KML", "Demo")">Run demo &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>CZML</h2>
        <p>This demo demonstrates Cesium with a CZML data source</p>
        <p><a class="btn btn-default" href="@Url.Action("CZML", "Demo")">Run demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CZML 4D</h2>
        <p>This demo demonstrates Cesium with a time-dynamic CZML data source</p>
        <p><a class="btn btn-default" href="@Url.Action("CZML4D", "Demo")">Run demo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SignalR</h2>
        <p>This demo demonstrates Cesium with realtime data updates via <a href="http://www.asp.net/signalr">SignalR</a></p>
        <p><a class="btn btn-default" href="@Url.Action("SignalR", "Demo")">Run demo &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Sandcastle</h2>
        <p>Check out more demos from the official Cesium.js Sandcastle</p>
        <p><a class="btn btn-default" href="http://cesiumjs.org/Cesium/Apps/Sandcastle/index.html">Learn more &raquo;</a></p>
    </div>
</div>